@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,body{
    height: 100vh;
    width:100vw;
    background-color:  #5f2c82;
    box-sizing: border-box;
    position: relative;
}
section{
    background-color: white;
    height: 500px;
    width: 250px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.514);
    transition: width 0.3s, height 0.3s;
}
div#imagem{
    background: url('imagens/pexels-gdtography-277628-911738.jpg');
    height: 200px;
    background-size: cover;
}
div#form{
    padding: 10px;
}
/* ------------------TABLET----------------------------- */
@media screen and (min-width: 768px) and (max-width: 992px){
    body, html{
        background-image: linear-gradient(to bottom, 
     #5f2c82, #49a09d);
    }
   section{
    width: 80vw;
   }
   div#imagem{
    float: left;
    width: 40%;
    height: 100%;
   }
   div#form{
    float:right;
    width:55%;
   }
   /* --------------------PC------------------------ */
}
@media screen and (min-width:992px) and (max-width: 1200px) {
    body, html{
        background-image: linear-gradient(to bottom, 
     #5f2c82, #49a09d);
    }
    section#sla{
        width: 90vw;
        max-width: 1100px;
    }
    div#imagem{
        float: left;
        width: 48%;
        height: 100%;
    }
    div#form{
        float:right;
        width: 48%;
        height: 100%;
    }
}