@charset "UTF-8";
/* Device Breakpoints
---------------------
pequenas telas: até 600px
Celular: de 600px 
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px*/

@media screen and (min-width: 768px) and (max-width:992px) {
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    section#login{
        width:90vw ;
        
    }
    section#login > div#imagem{
         float: right;
        width: 30%;
        height: 100%;
    }
    section#login > div#form{
        float: left;
        width: 65%;
        height: 100%;
    }
}
@media screen and (min-width:992px) {

    section#login{
        width:980px;
    }
    section#login > div#imagem{
        float:left;
        width: 50%;
        height:100%;
    }
    section#login > div#form{
        float:right;
        width:50%;
        height: 100%;
    }
    div#form p{
    font-size:1.2em ;
  }
  div#form h1{
    font-size: 2em;
  }
}
    

